@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Rye', cursive;
  background-color: #f3fee1;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: #00d10e;
  transition-duration: 0.2s; 
}

.button:hover{
  background-color: #00ad00;
}

.bg-col {
  background-color: #52b4ff;
  transition-duration: 0.2s; 
}

.bg-col:hover{
  background-color: #0b74fe
}

.row{
  margin: 8px 0;
}

.row input{
  font-size: 20px;
  margin: 0;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 269px
}